.pageCtn {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 60px;
    padding: 0px;
    overflow-y: auto; 
    width: 100vw;
    box-sizing: border-box;
    background-color: rgb(237, 238, 238);
  }

.profileCtn {
  display: flex;
  flex-direction: column;
  flex: 4;
  height: 100vh;
  /* border-right: 1px solid black;*/
  color: black;
  max-width: 400px;
  background-color: white;
}

.activitiesCtn {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  flex: 6;
  height: 100vh;
  padding: 2%;
}


.activitiesCtn h1 {
  margin: 20px 0px;
}
    
.activitiesCtn h2{
    margin: 0;
  }


input {
  background-color:#738685;
  font-size: 16px;
  padding: 2%;
  width: 100%;
  margin: 1% 0%;
  border-radius: 5px;
}

p {
  width: auto;
  height: auto;
}

.buttonCtn {
  display:flex;

  justify-content: center;
  align-items: center;
  width: 200px;
}

  .activitiesCtn button {
    padding: 10px;
    width: 100%; 
    height: auto;
    background-color: rgb(197, 202, 204);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }

  .activitiesCtn button:hover {
    background-color: rgb(114, 116, 117);
    color: white;
  }

.mainCtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px 300px;
    grid-gap: 2%;
    grid-auto-flow: auto;
    padding: 2% 5%;
    margin-top: 30px; 
}

.activity{
    width: 100%;
    height: 100%;
    position: relative;
    
}

.activity .item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 40px;
}

.activity .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: .5s ease-in-out;
  border-radius: 40px;
}

@media (max-width: 768px){
.pageCtn {
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.profileCtn {
  background-color: rgb(237, 238, 238);
  padding-bottom: 50px;
}

.activitiesCtn {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 50px;
}}

@keyframes move-down {
0% {
    top:10%
}
50% {
    top:35%
}
100% {
    top:50%
}
}
 