h2 {
    margin: 20px 0px 20px 0px;
    padding: 10px;
    color: black;
}

.pageCtn {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 60px;
    height: calc(100vh - 60px);
    overflow-y: auto; /* adds scroll if content overflows */
    justify-content: flex-start;
    align-items: center;
}

.hero {
    background-image: url('../pictures/yoga2.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 7;
}


.profileCtn {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100vh;
    color: black;
    max-width: 400px;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 5%;
    margin-bottom: 5%;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(20px) saturate(1);
    border-radius: 8px;
    width: 50vw;
    padding: 2%;
    box-sizing: border-box;
    color: black;
}

.form label {
    width: 100%;
    height: 50px;
    display: flex;
}


.form label span {
    width: 20%;
    text-align: left;
    padding-left: 5%;
    display: flex;
    align-items: center;
}


.companyCtn {
    width: auto;
    height: 50%;
    flex: 1;
    text-align: left;
    margin-left: 10%;
    color: black;
    font-size: 14px;
}

.form input {
    width: 500px;
    height: 30px;
    padding: 0;
   margin: 0;
   box-sizing: border-box;
}
  

.form button {
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.form input {
    border: 1px solid #ccc;
    border-radius: 4px; 
}

.textCtn {
    color: aqua;
    width: 700px;
  }

  .textCtn > p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  }
  
.notificationCtn {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
}

.buttonCtn {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
}


.accessButton {
    padding: 10%;
    margin: 10px;
    width: 100px;
    height: 35px;
    background-color: rgb(114, 116, 117);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    box-sizing: none;
  }

  .accessButton:hover {
    background-color: rgb(114, 116, 117);
    color:white;
  }

  @media (max-width: 768px) { 

    .pageCtn {
        flex-direction:column;
    }

    .hero {
        margin-top: 50px;
        width: 100vw;
        padding-bottom: 50px;
    }

    .form {
        width: 90%;
    }
  }

