body {
    margin: 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainCtn {
    text-align: center;
   
}

.h1Text {
    font-size: 84px;
    color: black; 
}

.text404 {
    color: black; 
    font-size: 64px;
    margin-bottom: 10px;
}

.text{
    color:black; 
    text-align: center;
}

.link {
    color:black;
    cursor: pointer;
    transition: color 0.5s ease;
  }

.mainCtn {
    text-align: center;
   
}

.h1Text {
    font-size: 84px;
    color: black; 
}

.text404 {
    color: black; 
    font-size: 64px;
    margin-bottom: 10px;
}

.text{
    color: black; 
    text-align: center;
}

.link {
    color: black;
    cursor: pointer;
    transition: color 0.5s ease;
  }