
footer {
    height: 45px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
   padding: 0 2%;
}
footer p{
    color: black;
}





