
footer {
    height: 60px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: #FFE5CC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 0 1%;
}

/*
.logoCtn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1%;
}

.logo {
    height: 100%;
    width: auto;
}

.mainCtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE5CC;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 60px;
    position: fixed;
    border-bottom: 0.5px solid black;
    padding-left: 20px;
} */




