.body{
    margin:0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.hero {
    background-image: url('../pictures/yoga.jpg'); 
    background-size: cover;
    background-position: center;
    width: 100vw; 
    height: calc(100vh - 60px);
    top: 60px;
    text-align: center;
    color: white;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.buttonCtn button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 5px;
    padding: 6px 8px; 
    border-radius: 16px;
    width: 100px;
    margin-top: 50px;
    cursor: pointer;
    border: none;
  }

 .content {
  top: 60px;
    padding: 0px;
    text-align: center;
}
