  .pageCtn {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 60px;
    padding: 0px;
    //height: calc(100vh - 120px);
    overflow-y: auto; /* adds scroll if content overflows */
    width: 100vw;
    box-sizing: border-box;
    background-color: rgb(237, 238, 238);
  }

  .profileCtn {
    display: flex;
    flex-direction: column;
    flex: 4;
    height: 100vh;
    max-width: 400px;
    //border-right: 1px solid black;
    color: black;
    background-color: white;
  }

  .activitiesCtn {
    display: flex;
    flex-direction: column;
    flex: 6;
    height: 100vh;
  }

  .imageCtn {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 200px; 
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .infoCtn {
    text-align: left;
    padding: 5% 8%;
    width: 100%;
  }

  .infoCtn > h3 {
    margin-bottom: 20px;
  }

  .buttonCtn {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .companyButton {
    padding: 3%;
    width: auto;
    height: auto;
    background-color: rgb(197, 202, 204);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    box-sizing: none;
  }

  .companyButton:hover {
    background-color: rgb(114, 116, 117);
    color:white;
  }

  input {
    background-color: rgb(237, 238, 238);
    font-size: 16px;
    padding: 2%;
    width: 100%;
    margin: 1% 0%;
    border-radius: 5px;
  }

  p {
    width: auto;
    height: auto;
  }


      