.pageCtn {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 60px;
    height: calc(100vh - 60px);
    overflow-y: auto; /* adds scroll if content overflows */
    justify-content: flex-start;
    align-items: center;
  }


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 5%;
    background-color: rgb(143, 218, 189);
    border-radius: 8px;
    width: 50vw;
    padding: 2%;
    box-sizing: border-box;
}

.form label {
    width: 100%;
    height: 50px;
    padding: 0%;
    cursor: pointer;
    display: flex;
    //justify-content: space-between;
    //align-items: center;
}

.form label span {
    width: 20%;
    text-align: left;
    padding-left: 5%;
    
}

.form label input {
    width: auto;
    height: 50%;
    flex: 1;
    text-align: left;
    margin-left: 10%;
    //justify-content: center;
    //align-items: center;
}

.company {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}
  
.form input,
.form button {
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.form .react-select__control,
.form .react-select__control--is-focused {
  cursor: pointer;
}

.form input {
    border: 1px solid #ccc;
    border-radius: 4px; 
}

/*

button {
    padding: 15%;
    margin-left: 10%;
    background-color: #08225a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
  }
  
button:hover {
    background-color: #529eee; 
}

*/