#root {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: inherit;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* needed for absolute positioning within*/
}

.mainCtn {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  height: calc(100vh - 120px);
  overflow-y: auto; /* adds scroll if content overflows */
  justify-content: flex-start;
  align-items: center;
}

